@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

body{
    width: 100vw;
    height: 100vh;

    background: #ffbd69;
}

.scoreboard{
    margin: 1.5rem auto;

    width: 90%;
    height: 15%;

    background: #e5a451;
    border-radius: 8px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score{
    width: 20%;
    height: 90%;

    background: #FFFFFF;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.score h3, .score p{
    color: #000000;
}

.rock-paper-scissors{
    margin: 0 auto;

    width: 20rem;
    height: 20rem;

    background-image: url(../images/bg-triangle.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;

    display: grid;
    grid-template-areas:'btn1 . btn2'
                        '. . .'
                        '. btn3 .';
}

.button{
    width: 6rem;
    height: 6rem;

    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    transition: 0.5s;
}

.button:hover{
    width: 7rem;
    height: 7rem;
}

.rock{
    background: #c70039;
    grid-area: btn1;
}

.paper{
    background: #111b5e;
    grid-area: btn2;
}

.scissors{
    background: #f37121;
    grid-area: btn3;
}
